#root {
  background: #ffffff;
  /* color: #898989; */
  font-family: 'Poppins', helvetica;
  font-size: 15px;
  /* font-weight: 500; */
  line-height: 20px;
  letter-spacing: 0.02em;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
