{
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 80,
    "arrowParens": "avoid",
    "tabWidth": 4,
    "rules": {
        "sort-imports": 2
    },
    "bracketSpacing": true,
    "requirePragma": true
}
